[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/uniswap-v3-core"]
	path = lib/uniswap-v3-core
	url = https://github.com/Uniswap/v3-core
